<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="/">Back To Home</a>
        <h1>Create Account</h1>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Enter name">
            <input type="text" name="username" placeholder="Enter userName">
            <input type="email" name="email" placeholder="Enter Email Address">
            <input type="password" name="password" placeholder="Enter password">
            <input type="number" name="age" placeholder="Enter age">
            <input type="submit" class="submit" value="Create Account">
        </form>
    </div>
</body>
</html>