<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="/">Back To Home</a>
        <h1>Login User Account</h1>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Enter Email Address">
            <input type="password" name="password" placeholder="Enter password">
            <input type="submit" class="submit" value="Login Account" >
        </form>
    </div>
</body>
</html>